<a href="https://colab.research.google.com/github/ririnoia/-/blob/example/Untitled43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 使用ライブラリ

In [ ]:
import random
import numpy as np
import sqlite3
import pandas as pd

# SQL(データベース操作)

## テーブル作成

In [ ]:
def sql_create(db_name): #データベース作成
    con = sqlite3.connect(db_name) 

    cur = con.cursor()
    cur.execute("create table if not exists eval(user_id verchar, game_id verchar, eval_data varchar);") #評価データ
    cur.execute("create table if not exists game(game_id verchar, game_name verchar);") #ゲームのデータ
    cur.execute("create table if not exists user(user_id verchar, user_name verchar);") #ユーザーのデータ

    con.close()

## テーブル削除

In [ ]:
def sql_delete(db_name, table_name):
    con = sqlite3.connect(db_name)

    cur = con.cursor()
    sql = "drop table "+ table_name + ";"
    cur.execute(sql)
    
    con.close()

## データ挿入

In [ ]:
def sql_insert(db_name, table_name , game_name):
    con = sqlite3.connect(db_name)
    cur = con.cursor()
    for i in range(len(game_name)):
        sql = "insert into " + table_name + " values(?, ?)"
        con.execute(sql, [i, game_name[i]])
    con.commit()

    con.close()

## テーブル確認(動きません)

In [ ]:
def sql_check(db_name):
    con = sqlite3.connect(db_name)
    cur = con.cursor()

    con.execute("select * from sqlite_master where type='table'")
    for row in cur.fetchall():
        print(row)

##データベース表示

In [ ]:
def sql_display(db_name, table_name):
    con = sqlite3.connect(db_name)
    cur = con.cursor()
    sql = "select * from " + table_name
    cur.execute(sql) 
    for row in cur: 
        print(row[0],row[1])     

    con.close()

##データベースのテスト関数

In [ ]:
game_name = ["Minecraft", "7 days to die", "Among us", "Undertale", "Cuphead", 
             "Fall Guys", "OneShot", "Slay the Spire", "Portal", "Valheim"]

In [ ]:
sql_insert('test.db', "game", game_name)

sql_display('test.db', "game")

0 Minecraft
1 7 days to die
2 Among us
3 Undertale
4 Cuphead
5 Fall Guys
6 OneShot
7 Slay the Spire
8 Portal
9 Valheim
0 Minecraft
1 7 days to die
2 Among us
3 Undertale
4 Cuphead
5 Fall Guys
6 OneShot
7 Slay the Spire
8 Portal
9 Valheim
0 Minecraft
1 7 days to die
2 Among us
3 Undertale
4 Cuphead
5 Fall Guys
6 OneShot
7 Slay the Spire
8 Portal
9 Valheim
0 Minecraft
1 7 days to die
2 Among us
3 Undertale
4 Cuphead
5 Fall Guys
6 OneShot
7 Slay the Spire
8 Portal
9 Valheim



---

#推薦システム


仮置きの評価データ

In [ ]:
def temp_user(eval_width, user_num, game_num): #仮置きの評価データ
    eval_data = np.random.randint(1,eval_data+1 ,size=[user_num, game_num])
    return eval_data

main関数

In [ ]:
array_col = 100 #ユーザー数
array_row = 10 #ゲーム数
comparison = 5 #遊んだことのないゲーム数
sim_num = 4 #類似していると考えられる人数

fav_deg = np.zeros(sim_num) #おすすめ度合
cc = np.zeros(array_col - 1) #相関係数
pd_cc = pd.DataFrame(cc)

eval_data =  np.random.randint(1,6,size=[array_col, array_row])

print(pd_cc)

      0
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0
..  ...
94  0.0
95  0.0
96  0.0
97  0.0
98  0.0

[99 rows x 1 columns]

In [ ]:
result=[]

for i in range(array_col - 1):
    target = eval_data[0][0 : array_row - comparison]
    user = eval_data[i+1][0 : array_row - comparison]

    result = np.corrcoef(target, user, rowvar=True)
    pd_cc[0][i] = result[1][0]

sort_cc = pd_cc.nlargest(sim_num, 0) #類似度高い順にする
sort_index_cc = sort_cc.index.values

40

In [ ]:
 w = np.array([4, 3, 2, 1])

fav1 = [eval_data[sort_index_cc[0]][5], eval_data[sort_index_cc[1]][5], 
        eval_data[sort_index_cc[2]][5], eval_data[sort_index_cc[3]][5]]

fav2 = [eval_data[sort_index_cc[0]][6], eval_data[sort_index_cc[1]][6], 
        eval_data[sort_index_cc[2]][6], eval_data[sort_index_cc[3]][6]]

fav3 = [eval_data[sort_index_cc[0]][7], eval_data[sort_index_cc[1]][7], 
        eval_data[sort_index_cc[2]][7], eval_data[sort_index_cc[3]][7]]

fav4 = [eval_data[sort_index_cc[0]][8], eval_data[sort_index_cc[1]][8], 
        eval_data[sort_index_cc[2]][8], eval_data[sort_index_cc[3]][8]]

fav5 = [eval_data[sort_index_cc[0]][9], eval_data[sort_index_cc[1]][9], 
        eval_data[sort_index_cc[2]][9], eval_data[sort_index_cc[3]][9]]

print(np.average(fav1, weights=w))
print(np.average(fav2, weights=w))
print(np.average(fav3, weights=w))
print(np.average(fav4, weights=w))
print(np.average(fav5, weights=w))

4.3
2.2
2.9
2.5
2.1

In [ ]:
print(eval_data[sort_index_cc[0]])
for i in range(comparison):
    tmp = np.zeros(sim_num)
    for j in range()

[2 4 2 5 4 5 3 3 2 1]

In [ ]:


target = [5,3,4,4]
user1 = [3,1,2,3]
user2 = [4,3,4,3]
user3 = [3,3,1,5]
user4 = [1,5,5,2]

t1 = np.corrcoef(target, user1, rowvar=True)
t2 = np.corrcoef(target, user2, rowvar=True)
t3 = np.corrcoef(target, user3, rowvar=True)
t4 = np.corrcoef(target, user4, rowvar=True)

target

[5, 3, 4, 4]

#Webスクレイピング